#imagenmac{
    background-image: url('1x/fondo.png');/* Reemplaza aca con al foto que tienes esa del mac*/
   width: 100%;
   margin: auto;
   padding: 0%;
  }
  

.jumbotron1{
  background-color:rgb(245, 183, 176);
}

.natalia h1{
  background-color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color: salmon;
}

.perfil p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color: white;
}

.containerfondo{
  background-color:salmon;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color:white;
  border:5px solid black;
}

.containerfondo .text-center h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color: white;
  padding: 45px;
}

.containerfondo2{
  background-color:rgb(245, 183, 176);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color:white;
}

.containerfondo2 .text-center h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color: white;
  padding: 45px;
}

.containerfondo3{
  background-color:salmon;
  border:5px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color:white;
}

.containerfondo3 .text-center h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color: white;
  padding: 45px;
}

.ai1 h4{
  color: yellow;
}

.ps2 h4{
  color: blue;
}

.pr3 h4{
  color: purple;
}

.ae4 h4{
  color: violet;
}

.row h1 {
  color: white;
}

.row h2 {
  color: white;
}

#contenido{
    
  background-color:rgb(245, 183, 176);
  }

  #nosotrosTitulo{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color:rgb(245, 183, 176);
  }

 #nosotrosContenido{
    background-color: salmon;
    padding-top: 50px;
  }

  #nosotrosContenido p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
    margin: auto;
  }
  
  #portafolioTitulo{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: salmon;
  }

  #contactoTitulo{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color:rgb(245, 183, 176);
  }

  .item{
    width: 80%;
    margin: auto;
    padding:15px;
  }

  .item img{
    width: 80%;
    box-shadow:rgba(0, 0, 0, 0.5) 0px 5px 10px ;
    border-radius: 5px;
  }
